* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  }

  .left-section {
  }
  
  .left-section a,
  .right-section a {
    margin: 0 100px;
    text-decoration: none;
    color: black;
  }

  .local {
    font-size: 16px;
  }
  
.center-section {
    margin-right: 200px;

}

  .center-section a {
    font-family: Oswald, sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    color: black;
  }
  
.right-section{
    margin-right: 100px;
}

  .news {
    padding: .3rem 1.5rem;
    background-color: black;
    font-size: 10pt;
    border-radius: 50px;
    color: white;
  }
  

  .hero-top {
    display: flex;
    justify-content: space-between;
    gap: 500px;
    padding: 100px;
  } 

  .text-and-button {
    display: block;
  }

  .see-more-button {
    padding: .4rem .9rem;
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 5px;
    cursor: pointer;
    border: none;
  }

  .trending-container {
    background-color: rgb(146, 143, 143);
    margin-bottom: 0;
  }

  .trending {
    font-family: Oswald, sans-serif;
    font-size: 60px;
  }


  .left-text {
    font-family: Arial, Helvetica, sans-serif;
  }

  .hero-top {
    height: 45vh;
  }

  .banner-image {
    background-image: url('./Assets/images/woman.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 85%;
    margin: auto;
  }

  .hero-div {
    width: 30%;
    padding-left: 75px;
  }

  .hero-caption {
    font-family: Oswald, sans-serif;
    letter-spacing: 8px;
    font-weight: 900;
    padding: 50px;
    font-size: 20pt;
    
  }

  .banner-image:hover {
    opacity: 5;
  }
  
.micheal {
    font-weight: 950px;
}

.button-div {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 10px;

}
.economy {
    padding: .4rem .9rem;
    background-color: white;
    color: black;
    border-radius: 50px;
    margin-top: 5px;
    cursor: pointer;
    border-width: 1px;
    transition: background-color 0.3s ease;
}

.economy:hover {
    background-color: black;
    color: white;
}

.content-section {
    padding-top: 20px;
}

.container {
    overflow: hidden;
    padding-left: 100px;
    width: 60%;
    height: 150vh;
  }
  
  img {
    float: left; 
    margin-right: 20px; 
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    font-family: Oswald, sans-serif;
  }
  
  .text {
    padding-top: 10px;
    line-height: 30px;
  }

.afro-woman-image {
    height: 40vh;
    width: 20vw;
}
.right-section-div {
    background-color: rgb(236, 228, 228);
    width: 30%;
    height: 150vh;
    margin-right: 100px;
}

.content-section {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.agbor {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    font-weight: 200;
}

.popular {
    font-size: 24px;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.stories {
    width: 10vw;
    height: 160px;
    
}

.stories:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;

}
.story-image {
    height: 18vh;
    width: 10vw;
    border-radius: 8px;
    z-index: 3;
}

.story-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;


}

.images-and-headlines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.connect {
    padding-top: 20px;
    font-size: 100px;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    text-align: center;
}

.connect-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.connect-container {
    padding: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    position: relative;
   }
   
   .wave {
    background-color: #fff;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    clip-path: url(#wave);
   }
   
   .content {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
   }
   
   .content p {
    margin-bottom: 10px;
   }
   
   .content a {
    color: #fff;
    text-decoration: underline;
   }
   
   svg {
    display: none;
   }
   
   